.next-btn {
  display: block;
  width: 200px;
  padding: 15px 30px;
  margin: 1rem auto;
  border-radius: 10px;
}

.search-btn,
.add-btn,
.delete-btn,
.edit-btn,
.settle-btn,
.create-btn,
.save-btn {
  display: block;
  width: 150px;
  padding: 10px 20px;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.found-user {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details,
.btn-container {
  padding: 10px;
}

.build-team-section,
.edit-team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-builder,
.team-member-list,
.edit-add-members,
.edit-update-members {
  flex-basis: 45%;
}

.team-members {
  width: 80%;
  margin: 1rem auto;
}

.team-member {
  padding: 10px;
  display: flex;
  align-items: center;
}

.team-member-percent {
  display: flex;
  align-items: center;
}

.percent-input {
  width: 50%;
  line-height: 1.5rem;
}

.team-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border: 1px red solid;
  margin: 20px;
}

.team-name,
.team-member-count,
.team-expense-count {
  flex-basis: 33%;
  min-width: 100px;
  text-align: center;
}

.team-details-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: 10px auto;
}

.team-members-card,
.team-spending-card,
.team-net-debts-card {
  border: 1px black solid;
  flex-basis: 30%;
  min-width: 180px;
  padding: 10px 0 20px 0;
}

.current-team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member-item {
  flex-basis: 48%;
  min-width: 140px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.top-category {
  min-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card-heading {
  text-align: center;
  font-size: 1.3rem;
  margin: 10px 0 20px 0;
}

.page-link {
  text-decoration: none;
  color: inherit;
}

.net-debts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.team-debt {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.other-user-avatar,
.logged-in-user-avatar {
  padding: 20px;
  display: block;
}

.logged-in-user-avatar {
  font-size: 2rem;
}

.debt-participants,
.debt-dollar-amount,
.no-debt {
  text-align: center;
}

.logged-in-user-details,
.other-user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-team-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-team-name-input {
  display: block;
  width: 30%;
  margin: 0 auto;
}
