.form {
  width: 80%;
  margin: 1rem auto;
}

.form-heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  flex-basis: 35%;
  min-width: 150px;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
}

.label-text {
  width: 150px;
  margin-left: auto;
}

.form-input {
  flex-basis: 35%;
  min-width: 250px;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.submit-btn {
  display: block;
  width: 200px;
  padding: 15px 30px;
  margin: 1rem auto;
  border-radius: 10px;
}
